<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Gustavo Marchi. It uses data from both mapbox.com
            and darksky.net to provide weather information!</p>
        <img class="portrait" src="/img/me.jpg" alt="" />
    </div>
    {{>footer}}
</body>

</html>